.my_form{
    width: 30%;
    margin: auto;
    padding-top: 50px;
}

.my_input{
    margin-bottom:40px;
    padding: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:2px solid #e7144c;
    outline:none;
}

.my_lable{
    color: #e7144c;
    font-size: large;
    font-weight: bold;
}

.resulte{
    margin-top: 30px;
    color: #e7144c;
    font-size: larger;
    font-weight: bolder;
}

.info{
    margin-left: 20px;
}